a{
    color: white;
}

nav ul{
    
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    border-style: 2px solid black;
    list-style: none;
    margin: auto;

}

nav ul li a{
    padding: 0.8em 2em;
    background-color:#cccccc;
    text-decoration: none;
    flex: auto;
    flex-direction: column;
}

nav ul li a:hover{
    background-color:blue;
    
}




.button1{
    border-radius: 100px;
    border: 2px black solid;
    background-color: #15C6CC;
    color: black;
    box-shadow: 0em .0625em .125em 0em grey;
    cursor: pointer;
}


.button1:hover{
    border-radius: 100px;
    border: 2px black solid;
    background-color: rgb(21, 255, 204);
    color: black;
    box-shadow: 0em .0625em .125em 0em grey;
    cursor: pointer;
    
}

.button2{
    border-radius: 50px;
    border: 2px black solid;
    background-color: #5D9799;
    color: white;
    box-shadow: 0em .0625em .125em 0em grey;
    cursor: pointer;
}

.button2:hover{
    border-radius: 50px;
    border: 2px black solid;
    background-color: rgb(133, 216, 221);
    color: white;
    box-shadow: 0em .0625em .125em 0em grey;
    cursor: pointer;
}

.button3{
    border-radius: 4%;
    border: 2px black solid;
    background-color: #34FF93;
    color: black;
    box-shadow: 0em .125em .125em 0em grey;
    cursor: pointer;
    
}
.button3:hover{
    border-radius: 4%;
    border: 2px black solid;
    background-color: rgb(153, 253, 200);
    color: black;
    box-shadow: 0em .125em .125em 0em grey;
    cursor: pointer;
}

.button4{
    border-radius: 50px;
    border: 2px black solid;
    background-color: #34FF93;
    color: black;
    box-shadow: 0em .125em .125em 0em grey;
    color: black;
    cursor: pointer;
}
.button4:hover{
    border-radius: 50px;
    border: 2px black solid;
    background-color: #34FF93;
    color: black;
    box-shadow: 0em .125em .125em 0em grey;
    background-color: rgb(253, 153, 170);
    color: black;
    cursor: pointer;
}


.button5{
    border-radius: 10px;
    border: 2px black solid;
    background-color: #CC1590;
    color: white;
    
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 2px 2px;
    box-shadow: 0em .0625em .125em 0em grey;
    cursor: pointer;
}

h1, h2, h3, h4, caption{
    font-family: 'Mali', cursive;
    margin: 0;
    padding: 0;
    /*
    can hide elemetns by using 
    margin-left: -99000px;
    float:left;
    */
    text-align:center;
    /* */
    font-weight: normal;
}
h2{
    color: white;
}
#newAlbumTitle{
    color: white;
    padding: .25em 1em;
    text-align: center;
}
h3{
    margin-top: 20px;
    margin-bottom: 5px;
}
h4{
    font-size: 1.5em;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

body{
    background-color: #fdf5e8;
    margin: 0;
    padding: 0;
    
}

#wrapper{
    
    background-color: #77cf7f;
    margin: 0 auto;
}

header{

padding: 0em 1em .33em 1em;

}



footer{
    
    background-color: #77cf7f;
}

.text1{
    font-family: 'Crimson Text', serif;
}
.text2{
         

    font-family: 'Roboto Condensed', sans-serif;
    text-align:center;
    margin: 0;
    padding:0;
}

main{
    background-color: #F273BC;
    padding: 1em 0;
    
}

.contentRow{
    display: flex;
    /*align-items keeps your images' aspect ratio */
    align-items: flex-start;
    display: 1em;
    margin-left: 5em;
    
}

.contentRow p{
    padding-left: 1em;
    padding-right: 5em;
    width: 75ch;    
}

#heroImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#socialMedia{
    margin: 0 auto;
    padding: 1em;
    width: 45%;
    display: flex;
    flex-direction: row;
    align-items: center flex-start;
    justify-content: space-around;
    max-height: 48px;
}
#socialMedia img{
    width:48px;
}



table{
    width: 90%;
    margin: 1em auto;
    text-align: center;
    border-collapse: collapse;
    font-family: 'Roboto Condensed', sans-serif;
}
td{
    padding: .5em;
    
}
caption{
    margin-bottom: 1.5em;
    font-size: 1.65em;
}
tr:hover{
    background-color: #5D9799;
}

.cardRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em 0;
    flex-wrap: wrap;
    align-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid black;
    align-content: space-between;
    margin: 3em;
    
}

.card .cardContent {
    flex: 1 1 auto;
    max-width: 300px;
}
.card img {
    width: 450px;
    max-width: 100%; 
    max-height: 450px; 
  }
  .thisPage{
    background-color: #FF748C;
    background-image: linear-gradient(260deg, #77cf7f 0%, #c16ecf   100%);
  }
  .thisPage:hover{
    background-image: linear-gradient(260deg, #c16ecf 0%, #5D9799 90%);
  }

  .linkGroup{
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
  }

.linkGroup a button{
    display: flex;
    min-width: 144px;
    min-height: 42px;
    
}


@media only screen and (max-width: 600px) {
    #wrapper{
        width: 100%;
        background-color: #77cf7f;
        margin: 0 auto;
    }
}
h1{
    font-size: 48px;
    padding-bottom: .0625em;
}